.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color:#06182c;
    color: #fff;
}

.header__title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    margin-left: 1.2rem;
}